@font-face {
    font-family: "IRANSans";
    src: url("../fonts/IRANSans.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "IRANSans Black";
    src: url("../fonts/IRANSans_Black.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "IRANSans Medium";
    src: url("../fonts/IRANSans_Medium.ttf") format("truetype");
  }
