@import "./reset.css";
@import "./grid.css";
@import "./font.css";

/* Reset Styles */

a {
  text-decoration: none;
}

// Variables

$green: #1fa12e;
$titleColor: #222222;
$textColor: #757575;
$white: #fff;

/* Components */

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;

  div {
    img {
      width: 8rem;
      height: 1.5rem;
    }
  }

  h3 {
    color: $green;
    font-size: 4rem;
    font-weight: 700;
    text-transform: capitalize;
  }

  p {
    font-size: 1.5rem;
    color: $textColor;
    max-width: 57rem;
  }
}

/* Styles */

body {
  direction: rtl;
  font-family: "IRANSans";
  line-height: 1.6;
  color: #353535;
  background-color: #ffffff;
}

/* Header */

.header {
  background-color: #f4f9ff;
  padding: 3.5rem 0;

  .logo {
    font-family: "IRANSans Black";
    font-size: 5rem;
    color: $green;
  }

  .location-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .location-icon {
    color: $green;
    font-size: 1.8rem;
  }

  .location-text {
    // display: flex;
    // flex-direction: column;
    // gap: 1rem;
  }

  .location-title {
    color: $titleColor;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
  }
  .location-desc {
    color: $textColor;
    font-size: 1.5rem;
  }
}

.nav {
  background-color: $white;
  border-radius: 5rem;

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-item {
    cursor: pointer;
    padding: 2rem 0;

    &:first-child {
      margin-right: 5rem;
    }

    &:last-child {
      background-color: $green;
      border-radius: 5rem;
      padding-right: 5rem;
      padding-left: 5rem;
    }

    &:hover .menu-link {
      color: $green;
    }

    &:hover .menu-link--active {
      color: $white;
    }
  }

  .menu-link {
    color: $titleColor;
    transition: color 200ms ease-in;
  }

  .menu-link--active {
    color: $white;
  }
}

.header-img {
  height: 79rem;
  background-image: url("../images/asset\ 44.jpeg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .header-cover {
    position: absolute;
    width: 100%;
    height: 79rem;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 4;
  }

  .header-caption {
    position: absolute;
    // top: 0;
    // bottom: 0;
    // right: 0;
    // left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    p {
      font-size: 2rem;
      font-family: "IRANSans Medium";
      font-weight: 700;
      color: $green;
    }

    h2 {
      font-size: 8.2rem;
      font-family: "IRANSans Black";
      font-weight: 300;
      color: $white;
    }

    a {
      font-weight: 500;
      background-color: $green;
      color: $white;
      padding: 1.5rem 4.5rem;
      border-radius: 5rem;
      border: 0.2rem solid $green;
      transition: all 200ms ease-in;

      &:hover {
        background-color: transparent;
        color: $green;
        border: 0.2rem solid $green;
      }
    }
  }
}

.features {
  padding: 10rem 0;

  .feature {
    background-color: #f4f9ff;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    border-radius: 1rem;
    transition: all 200ms ease-in;

    &:hover {
      background-color: $white;
      box-shadow: 0 0.5rem 1rem $textColor;
    }

    .fa-carrot {
      width: 8rem;
      height: 8rem;
      color: $green;
    }

    h3 {
      font-size: 2.6rem;
      font-weight: 600;
      text-transform: capitalize;
    }

    p {
      color: $textColor;
      font-size: 1.5rem;
    }

    a {
      font-weight: 500;
      background-color: $green;
      color: $white;
      padding: 0.5rem 1.5rem;
      border: 0.2rem solid $green;
      border-radius: 5rem;
      transition: all 200ms ease-in;

      &:hover {
        background-color: $white;
        color: $green;
        border: 0.2rem solid $green;
      }
    }
  }
}

.about-us {
  padding: 10rem 0;
  background-color: #f4f9ff;

  .about-img {
    img {
      width: 100%;
      border-radius: 1rem;
    }
  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;

    h2 {
      font-size: 4rem;
      font-weight: 700;
      text-transform: capitalize;
      color: $titleColor;
    }

    h6 {
      font-size: 20px;
      text-transform: capitalize;
      color: $titleColor;
    }

    p {
      font-size: 1.5rem;
      color: $textColor;
    }
  }
}

.products {
  padding: 10rem 0;

  .product-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;

    h2 {
      font-size: 4rem;
      font-weight: 700;
      text-transform: capitalize;
      color: $titleColor;
    }

    h6 {
      font-size: 2rem;
      color: $green;
    }

    p {
      font-size: 1.5rem;
      color: $textColor;
    }

    .product-contact {
      background-color: #98c7e2;
      border-radius: 1rem;
      padding: 3rem;
      text-align: center;

      h4 {
        font-size: 2rem;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 0.7rem;
        color: $white;
      }

      h3 {
        font-size: 4rem;
        font-weight: 700;
        text-transform: capitalize;
        color: $white;
      }
    }
  }

  .product-img {
    img {
      width: 100%;
      border-radius: 1rem;
    }
  }
}

.services {
  background-color: #f4f9ff;
  padding: 10rem 0;

  .service-img {
    img {
      width: 100%;
      height: auto;
    }
  }

  .service {
    padding: 5rem;
    background-color: $white;
    text-align: center;

    .fa-leaf {
      width: 6rem;
      height: 6rem;
      color: $green;
    }

    h4 {
      font-size: 2.2rem;
      font-weight: 600;
      color: $titleColor;
      text-transform: capitalize;
    }
  }
}

.counter {
  padding: 10rem 0;

  .counter-box {
    text-align: center;

    .counter-box-icon {
      width: 4rem;
      height: 4rem;
    }

    .counter-box-icon--red,
    .title--red {
      color: #f44026;
    }

    .counter-box-icon--yellow,
    .title--yellow {
      color: #fec422;
    }

    .counter-box-icon--orange,
    .title--orange {
      color: #ed6622;
    }

    .counter-box-icon--blue,
    .title--blue {
      color: #46a3ff;
    }

    h4 {
      font-size: 4.2rem;
      font-weight: 700;
    }

    h5 {
      font-size: 1.8rem;
      font-weight: 600;
      text-transform: capitalize;
      color: $titleColor;
    }
  }
}

.comments {
  padding: 10rem 0;
  background-color: #f4f9ff;

  .owl-carousel {
    background-color: $white;
    padding: 6rem 2rem 3rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    box-shadow: 0 0 1.7rem 0 rgb(0 0 0 / 6%);

    .owl-prev {
      background-color: $white !important;
      box-shadow: 0 0.2rem 0.5rem $textColor;
      width: 3rem;

      span {
        font-size: 3rem;
      }

      &:hover span {
        color: $green;
      }
    }

    .owl-next {
      margin-right: 1rem !important;
      background-color: $white !important;
      box-shadow: 0 0.2rem 0.5rem $textColor;
      width: 3rem;

      span {
        font-size: 3rem;
      }

      &:hover span {
        color: $green;
      }
    }
  }

  .item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .slider-img {
      img {
        width: 100%;
        height: auto;
      }
    }

    .slider-content {
      max-width: 40rem !important;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0.5rem;
    }

    p {
      font-style: italic;
      font-size: 1.5rem;
      color: $textColor;
    }

    h4 {
      font-size: 1.8rem;
      font-weight: 700;
      text-transform: capitalize;
      color: $titleColor;
    }
  }
}

.shop {
  padding: 10rem 0;

  .square {
    width: auto;
    height: 35rem;
    padding: 6rem 2rem 3rem;
  }

  .info {
    background: none;
    background-color: rgba(31, 161, 46, 0.7) !important;

    h5 {
      text-align: center;
      padding: 1rem;
      margin: 3rem 0 0 0;
      background-color: unset !important;
      font-size: 2.2rem;
      color: $white;
      font-weight: 600;
      text-transform: capitalize;
    }

    h6 {
      font-size: 2.6rem;
      color: $white;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 10rem;
    }

    span {
      font-weight: 500;
      background-color: $white;
      color: $green;
      padding: 0.5rem 1.5rem;
      border: 0.2rem solid $white;
      border-radius: 5rem;
      transition: all 200ms ease-in;
    }
  }
}

.blog {
  padding: 10rem 0;
  background-color: #f4f9ff;

  .post {
    display: flex;
    align-items: stretch;

    .post-img {
      img {
        width: 23rem;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }
    .post-topic {
      background-color: $white;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      padding: 1.8rem 3rem 1.8rem 1rem;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;

      .post-topic__title {
        color: $titleColor;
        font-size: 2.2rem;
        transition: all 200ms ease-in;

        &:hover {
          color: $green;
        }
      }

      p {
        font-size: 1.5rem;
        color: $textColor;
      }

      .post-info {
        display: flex;
        justify-content: space-between;

        a {
          color: #f44026;
          transition: all 200ms ease-in;

          &:hover {
            color: $green;
          }
        }

        span {
          color: $green;
        }
      }
    }
  }
}

.team {
  padding: 10rem 0;
}

.partner {
  padding: 10rem 0;
  background-color: #f4f9ff;
}

.footer {
  padding-top: 20rem;
  padding-bottom: 10rem;
  background-color: #1c1c1c;
}
